.u-white {
    color: #fff;
}

.u-secondary {
    color: palette(secondary);
}

.u-primary{
  color: palette(primary);
}

.u-bg-primary{
  background-color: palette(primary);
}

.u-bg-secondary{

  @include mq(1024) {
    background-color: palette(secondary, 400);
  }
}