.u-bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.u-underline {

}

.u-overflow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}






