.s-contact-form {
  overflow: hidden;
  .home & {
    padding: 0;
    background: palette(secondary, 400);
  }
}

.s-contact-form__container {
  position: relative;
  padding: 50px 0;
  max-width: 1095px;
  margin: 0 auto;
  background: transparent;

  @include mq(768){
    padding: 80px 30px;
    background: #fff;
  }

  .c-form {
    position: relative;
    z-index: 3;
    max-width: 872px;
    margin: 0 auto;
  }
  &:after,&:before{
    content:'';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: block;
    width: 100vw;
    height: calc(100% - 160px);
    background: transparent;

    @include mq(768){
      background: #fff;
    }
  }
  &:before{
    left:-100vw;
  }
  &:after{
    right:-100vw;
  }
}