.s-quote-intro {
  position: relative;
  padding: 130px 0 50px;
}

.s-about-intro__title {
  text-align: center;
}

.s-quote-intro__description {
  @include font(large, 36, 700);
  letter-spacing: 0.04em;
  font-family: "Poppins", sans-serif;
}

.s-quote-intro__quote-wrap {
  padding-top: 25px;
}

.s-quote-intro__quote {
  @include font(base, 23, 400);
}

.s-quote-intro__author {
  padding-top: 25px;
  @include font(base, 23, 700);
}

// SVG Decoration

.s-quote-intro__cloud-decor {
  position: absolute;
}

.s-quote-intro__cloud-decor__left {
  left: 0;
  bottom: 120px;
}

.s-quote-intro__cloud-decor__right {
  right: 0;
  bottom: 0;

  @include mq(1024) {
    top: 180px;
    bottom: auto;
  }
}

.s-quote-intro__gift-decor{
  position: absolute;
  left: 200px;
  bottom: 60px;
}