.s-content-repeater__container {
  position: relative;
  padding: 60px 0;

  @include mq(768) {
    padding: 122px 0;
  }

  .s-content-repeater__bg-text {
    position: absolute;
    bottom: -15%;
    font-family: "ChunkFive Roman";
    @include font(xx1-large, 105, 400);
    color: palette(primary);
    opacity: 0.07;

    @include mq(768) {
      @include font(x4-large, 250, 400);
    }
  }

}

.s-content-repeater__img {
  margin: 0 auto 30px;
  width: 268px;
  height: 268px;


  @include mq(1200) {
    width: 413px;
    height: 413px;
  }

  img {
    border-radius: 50%;
  }
}

.s-content-repeater__cloud {
  position: absolute;
  bottom: 50px;
}

.s-content-repeater__cloud-left {
  left: 0;
}

.s-content-repeater__cloud-right {
  right: 0;
}
