.s-image-slider {

}

.s-image-slider__slide {
  min-height: 268px;

  @include mq(768) {
    min-height: 432px;
  }
}

.s-image-slider {
  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 7px;
      width: 16px;
      height: 16px;
      background: #fff;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background: palette(primary);
      }
    }
  }
}