.s-contact-page {
  padding: 175px 0;

  @include mq(768) {
    padding: 235px 0;
  }

  .c-intro-title{
    margin-bottom: 50px;

  }
}

.s-contact-page__info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include mq(768) {
    justify-content: flex-start;
  }
}