.s-newsletter-banner {
  position: relative;
  padding: 50px 20px;
  background: palette(primary);
  overflow: hidden;
  @include mq(768) {
    padding: 90px 86px;
  }
}

.s-newsletter-banner__left-decoration,
.s-newsletter-banner__right-decoration {
  position: absolute;
  display: block;
}

.s-newsletter-banner__left-decoration {
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  @include mq(768) {
    left: 0;
  }
}

.s-newsletter-banner__right-decoration {
  top: 0;
  right: -16px;
  @include mq(768) {
    right: 0;
  }
}

.s-newsletter-banner__form {
  max-width: 480px;
}