.s-shop-hero {
  .c-main-slider__slide {
    padding: 90px 0 81px 0;

    @include mq($lg) {
      padding: 64px 0;
    }
  }
  .c-main-slider__bg-label{
    min-height: 200px;

    @include mq($md) {
      min-height: 350px;
    }
  }

  .c-main-slider__label {
    @include font(xx2-large, 138, 400);

    @include mq($md) {
      right: 0;
      bottom: auto;
      @include font(x4-large, 250, 400);
    }

    @include mq($lg) {
      @include font(x5-large, 350, 400);
    }
  }

  .c-main-slider__content {
    padding-top: 0;
  }
}
