.s-icon-boxes {
  position: relative;
  min-height: 300px;
  padding: 50px 0;
  overflow: hidden;

  @include mq(768) {
    padding: 45px 0;
  }

  @include mq(992) {
    padding: 80px 0 87px 0;
  }

  .container {
    max-width: 920px;
  }

  .s-icon-boxes__left-decoration {
    position: absolute;
    left: 0;
    top: -33px;
  }

  .s-icon-boxes__right-decoration {
    position: absolute;
    right: -40px;
    bottom: -30px;
    transform: rotate(180deg) matrix(-1, 0, 0, 1, 0, 0);

    @include mq(768) {
      right: 0;
      bottom: -20px;
      transform: none;
    }
  }

  .swiper-container {
    &:not(.swiper-container-initialized) {
      .swiper-slide {
        @include mq(768) {
          width: 33.3%;
        }
      }
    }
  }

  .swiper-pagination-bullets {
    position: static;
    line-height: 1;

    .swiper-pagination-bullet {
      position: relative;
      width: 16px;
      height: 16px;
      margin: 0 15px;
      border: 1px solid transparent;
      border-radius: 50%;
      background: transparent;
      opacity: 0.54;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: palette(primary);
      }

      &.swiper-pagination-bullet-active {
        border-color: palette(primary);
      }
    }

    @include mq(768) {
      display: none;
    }
  }
}