.s-faq {
  padding: 130px 0 50px;
  position: relative;

  @include mq($max: 768) {
    margin-bottom: 20px;
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 15px;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #C4C4C4;
    }
  }
}

.s-faq-intro{
  padding: 84px 0 50px 0;
}

.s-faq-intro__title{
  text-align: center;
}