.s-testimonials-list {
  padding: 36px 0;
  background: palette(secondary, 400);

  @include mq(768) {
    padding: 80px 0;
  }
}

.s-testimonials-list__btn {

}

.s-testimonials-list__rating {
  text-align: center;
}

.s-testimonials-list__rating-range {
  display: inline-block;
  padding: 11px 15px;
  margin: 0 auto;
  background: palette(primary);
  box-shadow: 0px 0px 40px rgba(57, 40, 166, 0.15);

  span {
    @include font(mid, 25, 700);
    color: #fff;
    letter-spacing: 0.04em;
  }
}


.s-testimonials-list__reviews {
  padding: 30px 0 20px;

  &.woocommerce {
    #reviews {
      #comments {
        ol.commentlist {
          li {
            .comment-text {
              margin: 0 !important;
              padding: 0 !important;
            }

            .meta {
              margin-bottom: 14px !important;

              .woocommerce-review__author {
                @include font(mid, 25, 700);
                letter-spacing: 0.04em;
                color: palette(text);

              }
            }

            .description {
              @include font(l-small, 20, 400);
              letter-spacing: 0.04em;

              @include mq(768) {
                @include font(mid, 25, 400);
              }

              p {
                line-height: inherit;
              }
            }
          }
        }
      }
    }
  }
}

.s-testimonials-list__rating-stars {
  margin-top: 18px;

  ul {
    text-align: center;
    letter-spacing: -5px;

    li {
      display: inline-block;

      svg {
        width: 26px;
        height: 26px;
        display: block;

        .wpd-active {
          fill: palette(primary);
        }
      }
    }
  }
}
