.s-main-hero {

  .c-main-slider__slide {
    padding: 160px 0 79px 0;
    z-index: 20;

    @include mq($lg) {
      padding: 140px 0 35px 0;
    }

    @include mq($xl) {
      padding: 189px 0 35px 0;
    }
  }

  .c-main-slider__label{
    bottom: -120px;

    @include mq($md) {
      bottom: auto;
      left: 20px;
    }
  }

}


