.woocommerce-order-received {
  .s-default-page {
    position: relative;
    padding-top: 90px;

    @include mq(768) {
      padding-top: 0;

      &:after {
        position: absolute;
        content: url('/wp-content/themes/gift/img/icons/thankyou-page/Cloud_left.svg');
        left: 0;
        bottom: 0;
      }
    }


    &:before {
      position: absolute;
      content: url('/wp-content/themes/gift/img/icons/thankyou-page/Cloud_right.svg');
      right: 0;
      top: 20px;
      width: 89px;
      height: 70px;

      @include mq(768) {
        top: 40px;
        width: auto;
        height:auto;
      }
    }

    .s-thankyou {
      min-height: 600px;
      position: relative;

      @include mq(768) {
        &:before {
          position: absolute;
          content: url('/wp-content/themes/gift/img/icons/thankyou-page/Gift_medium.svg');
          left: 0;
          top: 0;
        }


        &:after {
          position: absolute;
          content: url('/wp-content/themes/gift/img/icons/thankyou-page/gift_big.svg');
          right: 0;
          bottom: 0;
        }
      }

      .s-thankyou__home-link {
        padding: 100px 0 50px;
      }

      .s-thankyou__contact-info {
        display: inline-block;
        position: relative;
        width: auto;

        &:after {
          position: absolute;
          content: url('/wp-content/themes/gift/img/icons/thankyou-page/Gift_small.svg');
          left: -75px;
          bottom: 25px;

          @include mq(768) {
            left: -100px;
            bottom: -120px;
          }
        }

        .s-thankyou__link-wrap {
          padding: 10px 0;
        }
      }
    }
  }
}