.s-search-result{
  &.woocommerce{
    .o-products__loop{
      .products{
        &.columns-4{
          @extend .row;
          .product{
            margin: 0;
            max-width: 100%;
            @extend .col-6;
            @extend .col-md-4;
            @extend .col-lg-3;
            .tinvwl-loop-button-wrapper.tinv-wraper.tinv-wishlist{
              left: 15px;
            }
          }
        }
      }
    }
  }
}