.s-wishlist {
  padding-top: 120px;

  @include mq(768) {
    padding-top: 200px;
  }

  .c-intro-title {
    margin-bottom: 50px;
  }
}

.s-wishlist__list {
  .jvm-woocommerce-wishlist-container {
    text-align: center;
  }

  .jvm-woocommerce-wishlist-table {
    width: 100%;

    tr {
      padding: 20px 0 50px;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid #373737;

      @include mq(768) {
        display: table-row;
        border: none;
      }

      th {
        display: none;
        padding: 20px 0;
        border-bottom: 1px solid #C4C4C4;
        color: #C4C4C4;
        @include font(mid, 25, 400);

        @include mq(768) {
          display: table-cell;
        }

      }


      td {
        padding: 10px 0;
        vertical-align: top !important;
        text-align: left;

        @include mq(768) {
          padding: 20px 0;
          text-align: center;
          border-bottom: 1px solid #C4C4C4;
        }
      }


      td.product-remove {
        position: relative;

        a {
          font-size: 30px;
          position: absolute;
          top: 20px;

          @include mq(768) {
            position: relative;
          }
        }
      }

      td.product-thumbnail {
        img {
          margin: 0 auto;
          width: 203px;
          height: 203px;
        }
      }

      .product-name {
        a {
          color: palette(text);
          @include font(mid, 25, 700);
        }
      }

      .product-price {

        del {
          text-decoration-color: #C4C4C4;

          span.woocommerce-Price-amount {
            color: #C4C4C4;
          }
        }

        ins {
          text-decoration: none !important;
        }

        span.woocommerce-Price-amount {
          color: palette(text);

         .woocommerce-Price-currencySymbol{
            display: inline-block;
           padding-left: 3px;
          }
        }
      }

      .product-stock-status {

        span.wishlist-in-stock {
          color: #77a464;
        }

        span.wishlist-out-of-stock {
          color: palette(primary);
        }
      }
    }
  }

}
