.woocommerce{

  .woocommerce-MyAccount-content{
    p{
      @include font(base, 22, 400);
      color: palette(secondary, 500);

      mark{
        background: none;
        color: palette(primary);
      }
    }
  }
}

.c-my_account__address {
  max-width: 700px;
  padding-top: 50px;

  .woocommerce-Address-title{
    h3{
      @include font(large, 24, 700);
      margin-bottom: 26px;
    }

    a{
      @extend .c-button;
      @extend .c-button--primary;
    }
  }

  address {
    border: 1px solid #C4C4C4;
    padding: 32px;
  }

 .link-wrap {
   padding-top: 30px;
 }
  a{
    @extend .c-button;
    @extend .c-button--primary;
  }
}