.woocommerce {
  li.product {

    .jvm_add_to_wishlist {
      margin: 0 !important;
      display: inline-block;
      background: #f7f7f7;
      padding: 14px;
      position: absolute;
      top: 0 !important;
      left: auto !important;
      right: 0 !important;
      z-index: 9;
      border-radius: 0;
    }

    .in_wishlist {§
      .jvm_add_to_wishlist_heart {
        &:before {
          color: palette(primary);
        }
      }
    }
  }
}