button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-button {
  position: relative;
  @include font(base, 22, 700);
  background: none;
  color: palette(primary) !important;

  &:after {
    content: '\f061';
    display: inline-block;
    margin-left: 12px;
    @include font-family(font-awesome);
    @include font(base, 18, 900);
    transition: all 0.2s linear;
  }

  &:hover {
    background: none !important;
    &:after {
      transform: translateX(4px);
    }
  }

  @include mq(768) {
    @include font(mid, 22, 700);
  }
}

.c-button--primary {

}

.c-button--secondary {

}

.c-button--full {
  display: block;
  width: 100%;
}

