.c-intro-title {
  margin-bottom: 20px;
  @include font-family(secondary);
  @include font(s1-large,30, 400);
  color: palette(secondary, 800);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include mq(768) {
    @include font(x-large, 68);
  }
}