.selectric {
  background: none;
  border: none;
  border-bottom: 2px solid palette(secondary, 800);
  min-width: 224px;

  &:hover{
    border-bottom: 2px solid palette(secondary, 800);
  }

  .label{
    @include font(base, auto, 400);
    color: palette(secondary);
  }

  .button{
    &:after{
      content: url(/wp-content/themes/gift/img/icons/select_arrow.svg);
      position: absolute;
      top: 15px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: auto;
      height: auto;
      border: none;
    }
  }
}

.selectric-open .selectric {
  border-bottom: 2px solid palette(secondary, 800);
}

.selectric-items{
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 40px rgba(57, 40, 166, 0.15);
}
.selectric-items{
  li{
    border-color: #ffffff;
    @include font(base, 20, 400);
    color: palette(secondary);
  }
}