.c-search-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.c-search-form__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.c-search-form__form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  border-bottom: 4px solid palette(secondary, 800);
}

.c-search-form__submit {
  border: none;
  background: transparent;
  cursor: pointer;

  svg {
    width: 14px;
    height: 14px;
  }
}

.c-search-form__close{
  margin:0 10px 0 4px;
}

.c-search-form__input {
  display: block;
  width: 100%;
  padding: 8px 14px;
  @include font(base, 20, 400);
  color: palette(secondary);
  background: transparent;
  -webkit-appearance: none;
  border: none;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &::placeholder {
    @include font(base, 20, 300);
    color: palette(secondary, 500);
    opacity: 1;
  }
}

.c-search-form__close{
  cursor: pointer;
}