.c-shop-menu {

}

.c-shop-menu__list {
  display: flex;
  justify-content: space-evenly;

  & > .menu-item {
    a {
      @include font(base, 24, 400);
      color: palette(text);
      text-transform: uppercase;
      letter-spacing: 0.04em;

      &:hover {
        color: palette(primary);
      }
    }

    &.current-menu-item {
      a {
        color: palette(primary);
      }
    }
  }
}