.c-main-slider {
  display: grid;
  height: 100%;
  width: 100%;

  .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    width: auto;

    @include mq($md) {
      flex-direction: column;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    @include mq($lg) {
      left: 20px;
    }

    @include mq($xl) {
      left: 65px;
    }

    .swiper-pagination-bullet {
      position: relative;
      width: 16px;
      height: 16px;
      margin: 0 15px;
      border: 1px solid transparent;
      border-radius: 50%;
      background: transparent;
      opacity: 0.54;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #FFFFFE;
      }

      @include mq($md) {
        margin-bottom: 25px;
      }

      @include mq($xl) {
        margin-bottom: 42px;
      }

      &.swiper-pagination-bullet-active {
        border-color: #FFFFFE;
      }
    }
  }
}

.c-main-slider__slide {
  display: flex;
  height: 100%;
}

.c-main-slider__bg-label {
  position: relative;
}

.c-main-slider__label {
  position: absolute;
  opacity: 0.12;
  font-family: "ChunkFive Roman";
  @include font(x3-large, 210, 400);

  @include mq($md) {
    bottom: auto;
    @include font(x4-large, 500, 400);
  }

  @include mq($lg) {
    @include font(big-large, 650, 400);
  }
}

.c-main-slider__img {

}

.c-main-slider__content {
  padding-top: 20px;

  @include mq($md) {
   padding-left: 50px;
  }
}

.c-main-slider__title {
  font-family: "Bebas Neue", cursive;
  @include font(m2-large, 34, 400);

  @include mq($lg) {
    @include font(x1-large, 75, 400);
  }

  @include mq($xl) {
    @include font(x2-large, 95, 400);
  }
}

.c-main-slider__description {
  margin: 30px auto 25px;

  @include font(base, 22, 400);

  @include mq($lg) {
    @include font(mid-large, 34, 400);
  }

  @include mq($xl) {
    @include font(large, 34, 400);
  }
}

.c-main-slider__link {

}

.c-main-slider__icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.c-main-slider__icon {
  display: inline-block;
  margin-right: 20px;
}
