.c-mini-cart {
  position: relative;
}

.c-mini-cart__btn {
  position: relative;
  display: block;

  svg {
    width: 25px;
    height: 25px;
  }

  .c-mini-cart__count {
    position: absolute;
    bottom: -1px;
    right: -7px;
    width: 18px;
    height: 18px;
    @include font(m-small, 18, 400);
    color: #fff;
    text-align: center;
    background: palette(primary);
    border-radius: 50%;
  }
}

.c-mini-cart__content {
  position: absolute;
  z-index: 9999;
  display: none;
  padding-top: 12px;
  width: 375px;
  background: transparent;
  text-align: left;

  @include mq($max: 992) {
    bottom: calc(100% + 7px);
    left: -73px;
  }

  @include mq(992) {
    top: 100%;
    bottom: 0;
    right: 0;
  }

  .c-mini-cart:hover & {
    display: block !important;
  }

  .thwepo-image-item{
    img{
      display: none;
    }
  }
}

.c-mini-cart__content-wrapper {
  position: relative;
  background: #fff;
  box-shadow: 0 4px 12px rgb(0, 0, 0, 0.29);

  .woocommerce-mini-cart__empty-message {
    margin: 0;
    padding: 18px;
    font-size: .875rem;
    line-height: 1;
    font-weight: 400;
    background: #fff;
    color: #000;
  }

  .cart_list.product_list_widget {
    padding: 14px 0;

    .mini_cart_item {
      position: relative;
      padding: 10px 32px 10px 14px;

      .remove_from_cart_button {
        position: absolute;
        right: 8px;
        top: 12px;
        width: 22px;
        height: 22px;
        font-size: 19px;
        line-height: 19px;
        color: #000 !important;
        text-align: center;
        border: 1px solid #000;
        border-radius: 50%;
        transition: all .2s ease-in-out;

        &:hover {
          color: #fff !important;
          border-color: palette(primary);
          background-color: palette(primary);
        }
      }

      a:not(.remove_from_cart_button) {
        display: flex;
        align-items: flex-start;
        width: 100%;
        @include font(l-small, 20, 400);
        color: palette(secondary);

        img {
          width: 50px;
          max-width: 50px;
          margin-right: 14px;
        }
      }

      .quantity {
        padding-left: 64px;
      }
    }
  }

  .woocommerce-mini-cart__total {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    margin: 0;
  }

  .woocommerce-mini-cart__buttons {
    margin: 0;
    padding: 14px 7px 24px;

    a {
      @extend .c-button;
      @extend .c-button--secondary;
      display: inline-block;
      min-width: auto !important;
      width: calc(50% - 14px);
      margin: 7px;

      &:hover {
        color: #fff;
      }
    }
  }
}

