.c-form{
  .screen-reader-response {
    display: none;
  }

  .wpcf7-form-control-wrap {
    position: relative;
    display: block;
    margin: 16px 0;

    & > label {
      position: absolute;
      top: 8px;
      left: 12px;
      display: inline-block;
      @include font(base, 16, 400);
      letter-spacing: 0.04em;
      transition: all 0.2s ease-in-out;

      &.has-value {
        top: -8px;
        left: 0;
        @include font(m-small, 10, 700);
        @include mq(768) {
          top: -20px;
          @include font(base, 16, 700);
        }
      }
    }

    input:not(:disabled), textarea:not(:disabled) {
      &:focus,
      &:active {
        & + label {
          top: -8px;
          left: 0;
          @include font(m-small, 10, 700);
          @include mq(768) {
            top: -20px;
            @include font(base, 16, 700);
          }
        }
      }
    }

    .wpcf7-not-valid + label.has-value {
      color: palette(primary);
    }
  }


  .c-form__intro {
    margin-bottom: 6px;
  }

  .wpcf7-checkbox, .wpcf7-radio {
    display: block;
    margin: 20px 0 10px;
  }


  textarea {
    resize: vertical;
  }

  .wpcf7-not-valid-tip {
    margin-top: 6px;
    @include font(small, 12, 400);
    color: palette(primary);
  }

  .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    text-align: center;
    color: palette(primary);
    border-color: palette(primary);
  }


  input[type='file'] {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .c-form__file-label {
    position: relative;
    display: inline-block;
    padding: 18px 18px 18px 56px;
    @include font(l-small, 14, 700);
    color: #fff;
    text-transform: uppercase;
    background-color: palette(primary);
    cursor: pointer;
    @include mq(768) {
      display: block;
      padding: 18px 10px 18px 56px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 44px;
      height: 32px;
      //background-image: url("../../img/icons/doc-icon.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}


// styling checkboxes and radio buttons
.c-form {
  .wpcf7-list-item {
    display: block;
    margin: 0 0 6px 0;
    text-align: center;
    @include mq(768) {
      text-align: right;
    }
  }

  input[type='checkbox'], input[type='radio'] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  .wpcf7-list-item-label {
    display: inline-block;
    position: relative;
    @include font(small, 16, 300);
    color: palette(text);
    text-transform: none;
    cursor: pointer;

    a {
      color: palette(secondary, 500);

      &:hover {
        color: palette(primary);
      }
    }
  }

  input[type='checkbox'] + .wpcf7-list-item-label {

  }

  input[type='checkbox'] + .wpcf7-list-item-label {
    padding-left: 28px;

    &:after, &:before {
      content: '';
      position: absolute;
    }

    &:after {
      left: 6px;
      top: 3px;
      width: 4px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:before {
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 1px solid palette(secondary, 500);
      transition: all 0.2s ease-in-out;
    }
  }

  input[type='checkbox']:checked + .wpcf7-list-item-label {
    //font-weight: 400;

    &:before {
      background-color: palette(text);
      border-color: palette(text);
    }
  }

  input[type='radio'] + .wpcf7-list-item-label {
    padding-left: 28px;

    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: inset 0 0 0 1px palette(primary);
      transition: all 0.2s ease-in-out;
    }
  }

  input[type='radio']:checked + .wpcf7-list-item-label {
    font-weight: 400;

    &:before {
      box-shadow: inset 0 0 0 6px palette(primary);
    }
  }
}

.c-form__title {
  text-transform: uppercase;
  @include font(s1-large, 32, 400);
  @include font-family(secondary);
  color: palette(text);

  @include mq(768) {
    @include font(x-large, 65, 400);
  }
}

.c-form__description {
  margin-bottom: 26px;
  @include font(base, 22, 400);
  color: palette(text);
  @include mq(992) {
    @include font(mid, 25, 400);
  }
}

// Form grid

.c-form__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  @include mq(768) {
    margin: 0 -10px;
  }
}

.c-form__column {
  padding: 0;
  width: 100%;
  @include mq(768) {
    padding: 10px;
    width: 50%;
  }
}

.c-form__column--full {
  width: 100%;
}

.c-form__column-wide {
  flex-grow: 1;
  padding: 5px;

  .wpcf7-form-control-wrap {
    margin-top: 0;

    textarea {
      min-height: auto;
    }
  }
}

.c-form__column-submit {
  padding: 5px;
  width: 100%;
  @include mq(768) {
    width: auto;
    flex: 0 0 170px;
  }

  input[type="submit"] {
    min-width: 170px;
  }
}


input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 8px 14px;
  @include font(base, 20, 400);
  color: palette(secondary);
  background: transparent;
  -webkit-appearance: none;
  border: none;
  border-bottom: 2px solid palette(secondary, 800);

  @include mq(768) {
    padding: 7px 12px;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: palette(secondary, 500);
    font-weight: 300;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: palette(secondary, 500);
    font-weight: 300;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: palette(secondary, 500);
    font-weight: 300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: palette(secondary, 500);
    font-weight: 300;
  }

  &:active, &:focus {
    border-color: palette(secondary);
  }

  &.wpcf7-not-valid {
    border-color: red;
  }
}

.select2-container--default {
  .select2-selection--single {
    color: palette(secondary);
    background: #fff;
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px solid palette(secondary, 700);
    border-radius: 0;
    height: 38px;

    .select2-selection__rendered {
      padding: 4px 20px 4px 16px;
    }

    .select2-selection__placeholder {
      @include font(m-small, 12, 400);
      color: palette(secondary, 500);

      @include mq(768) {
        @include font(small, 14, 400);
      }

      @include mq(992) {
        @include font(small, 16, 400);
      }
    }

    .select2-selection__arrow {
      height: 36px;

      b {
        width: 10px;
        height: 10px;
        border: none;
        border-bottom: 2px solid palette(secondary, 500);
        border-right: 2px solid palette(secondary, 500);
        margin: 0;
        top: 6px;
        left: -15px;
        transform: rotate(45deg);
      }
    }
  }

  .select2-results__option--highlighted[aria-selected],
  .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: palette(primary);
  }
}

.select2-container--default.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      b {
        border: none;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
      }
    }
  }
}

.c-form__footer {
  margin-top: 26px;
  text-align: center;

  .c-form__btn {
    position: relative;

    input[type="submit"] {
      display: inline-block;
      padding: 0 26px 0 0;
      @include font(mid, 22, 700);
      color: palette(secondary, 800);
      letter-spacing: 0.04em;
      border: none;
      background: none;
      cursor: pointer;
      -webkit-appearance: none;

      &:disabled {
        cursor: not-allowed;
        //opacity: 0.5;
      }
    }

    &:after {
      content: '\f061';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: inline-block;
      @include font-family(font-awesome);
      @include font(base, 18, 900);
      transition: all 0.2s linear;
    }

    .ajax-loader {
      position: absolute;
      right: -36px;
      margin: 0;
    }

    &:hover {
      &:after {
        right: -4px;
      }
    }
  }
}

