.c-socials-menu {

}

.c-socials-menu__list {

}

.c-socials-menu__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 34px;
  }
}

.c-socials-menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  @include font(s-large, 28, 400);
  color: palette(text);
  background: #fff;
  border-radius: 50%;

 &:hover {
    color: palette(secondary);
  }
}