.woocommerce-form {
  &.woocommerce-form-register {
    .woocommerce-privacy-policy-text {
      margin-top: 30px;
    }
  }
}

.woocommerce {
  form {
    .form-row {
      text-align: left !important;

      input {
        padding: 30px 0 10px 10px !important;
        @include font(small, 17, 400);
        color: palette(secondary);
        height: 50px;
      }

      .select2 {
        @include font(small, 17, 400);
        color: palette(secondary);
        margin-top: 20px;
      }
    }

    .show-password-input{
      z-index: 10;
    }
  }

  .woocommerce-MyAccount-content {
    p {
      text-align: center;
    }

    .button.button[type=submit] {
      float: none !important;

      @include mq( 768) {
        margin: 100px auto !important;
      }
    }
  }
}