.woocommerce-checkout {
  .s-default-page {
    padding-top: 40px;
  }

  ul.thwmscf-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  li.thwmscf-tab {
    margin-right: 20px;

    @include mq(1400) {
      margin-right: 70px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      padding: 0;
      border: none;
      background: #fff !important;
      @include font(mid, 18, 700);
      color: palette(secondary, 500) !important;
      @include mq(768) {
        @include font(large, 24, 700);
      }
    }

    a.active {
      background: transparent !important;
      color: palette(text) !important;
    }
  }

  .thwmscf-tab-panels {
    max-width: 874px;
    margin: auto;
    background: #fff !important;
    padding: 40px 0 0;

    @include mq(1400) {
      padding: 50px 0 0;
    }
  }

  .woocommerce-billing-fields,
  .woocommerce-additional-fields,
  .thwmscf-tab-panel {
    max-width: 100%;

    h3 {
      margin-bottom: 30px;
      @include font(mid, 18, 700);
      @include mq(768) {
        @include font(large, 24, 700);
      }
    }
  }

  .thwmscf-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    @include mq(768) {
      margin: 30px 0 0;
    }

    input[type="button"] {
      background-color: #fff;
      border: none;
      @include font(base, 22, 700);
      padding: 0 8px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: 14px 18px;

      &.button-next {
        margin-left: auto;
        padding-right: 24px;
        background-image: url("../../img/icons/arrow-right-red.svg");
        background-position: center right;
        color: palette(primary);

        &.thwmscf-last-next {
          display: none;
        }
      }

      &.button-prev {
        padding-left: 24px;
        background-position: center left;
        background-image: url("../../img/icons/arrow-left-dark.svg");
      }

      &.thwmscf-first-prev {
        display: none;
      }
    }
  }

  textarea.input-text {
    height: 40px !important;
    resize: none !important;
  }

  .woocommerce-checkout-review-order {
    .shop_table.woocommerce-checkout-review-order-table {
      border: none;
    }
  }

  .woocommerce-checkout #payment {
    background-color: #fff;
  }

  ul.order_details {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 1rem;
      padding-right: 1rem;
      flex-grow: 1;
    }

    li:last-of-type {
      margin-right: 0;
      padding-right: 0;
    }
  }

  form .form-row {
    margin-bottom: 26px;
    @include mq(1400) {
      margin-bottom: 40px;
    }
  }

  form .form-row-first, form .form-row-last {
    width: 100%;
    @include mq(768) {
      width: 49%;
    }
  }

  .woocommerce-form-coupon-toggle {
    .woocommerce-info {
      text-align: center;
      @include font(l-small, 19, 400);
      color: palette(text);
      letter-spacing: 0.04em;

      @include mq($max: 768) {
        padding-left: 0;
        padding-right: 0;
      }

      @include mq(768) {
        @include font(mid, 25, 400);
      }

      .showcoupon {
        text-decoration: underline;
      }

      &:before {
        display: none;
      }
    }
  }

  .checkout_coupon {
    &.woocommerce-form-coupon {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 768px;
      margin: 0 auto;
      padding: 0 0 30px;
      border: none;

      @include mq(768) {
        padding: 0 0 50px;
      }

      p:first-child {
        margin-top: 10px;
        width: 100%;
        order: 3;
        @include font(small, 14, 400);
        color: palette(secondary, 500);
        text-align: center;
      }

      .form-row {
        width: auto;
        padding: 0;
        margin-bottom: 0;

        input {
          @include mq(375) {
            min-width: 280px;
          }
        }

        &.form-row-first {
          order: 1;
        }

        &.form-row-last {
          order: 2;
          width: 54px;

          &:before, &:after {
            display: none;
          }

          button {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            font-size: 0;
            line-height: 1;
            border-bottom: 2px solid palette(text);
            border-radius: 0;
            background-image: url(../../img/icons/submit-icon-black.svg);
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px 18px;
          }
        }
      }
    }
  }

  .woocommerce-checkout-review-order {
    .woocommerce-checkout-review-order-table {
      td {
        border-color: palette(secondary, 500);
      }

      th, td {
        padding: 14px;
        @include font(base, 22);

        @include mq(768) {
          padding: 20px;
          @include font(mid, 25);
        }

        &:nth-child(2) {
          text-align: right;
        }
      }

      tfoot {
        tr {
          th {
            border-color: palette(secondary, 500);
          }

          &:last-child {
            border-bottom: 1px solid palette(secondary, 500);
          }
        }
      }
    }
  }

  #payment {
    margin-bottom: 0;

    .wc_payment_methods {
      padding: 14px;
      border-top: 1px solid palette(secondary, 500);

      @include mq(768) {
        padding: 20px;
      }
    }
  }

  .woocommerce-checkout-payment {
    .wc_payment_method {
      &.payment_method_cheque {
        @include mq(768) {
          display: flex;
        }

        label {
          display: block;
          margin: 0;
          @include font(base, 16, 400);
          @include mq(768) {
            width: 25%;
            margin: 0 14px 0 0;
            @include font(mid, 25, 400);
          }
        }

        .payment_box.payment_method_cheque {
          margin: 0 !important;
          padding: 4px 0 0 !important;
          background: #fff !important;

          @include mq(768) {
            max-width: 420px;
          }

          &:before {
            display: none !important;
          }

          p {
            @include font(small, 16, 400);
          }
        }
      }
    }

    .woocommerce-privacy-policy-text {
      p {
        @include font(small, 16, 400);
        color: palette(secondary, 500);
        letter-spacing: 0.04em;

      }
    }
  }

  #place_order {
    &:hover {
      background: none !important;
    }
  }

  .cart-subtotal,
  .order-total {
    .woocommerce-Price-amount {
      bdi {
        @include font(mid, 25, 700);

        .woocommerce-Price-currencySymbol {
          @include font(mid, 25, 700);
        }
      }
    }
  }

  .woocommerce-Price-currencySymbol {
    display: inline-block;
    padding-left: 5px;
  }

}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    border-top: none;
    padding-left: 25px;

    &:before {
      left: 0;
    }
  }
}