.c-link {
  position: relative;
  @include font(base, 22, 700);
  color: palette(secondary, 800);

  @include mq(768){
    @include font(mid, 22, 700);
  }

  &:after {
    content: '\f061';
    display: inline-block;
    margin-left: 12px;
    @include font-family(font-awesome);
    @include font(base, 18, 900);
    transition: all 0.2s linear;
  }

  &:hover {
    &:after {
      transform: translateX(4px);
    }
  }
}

.c-link--secondary{
  position: relative;
  @include font(base, 22, 700);
  color: palette(secondary, 800);

  @include mq(768){
    @include font(mid, 22, 700);
  }

  &:hover {
    &:after {
      transform: translateX(4px);
    }
  }
}