.c-top-menu {

}

.c-top-menu__list {
  text-align: right;

  .menu-item {
    display: inline-block;
    a {
      @include font(small, 12, 300);
      color: palette(secondary, 500);
      letter-spacing: 0.02em;
      &:hover{
        color:palette(primary);
      }
    }
    &:not(:last-child){
      margin-right: 16px;
    }
  }
}