.woocommerce {
  table.shop_table {
    border-radius: 0;
    border: none;

    @include mq(768) {
      padding: 30px;
      border: 1px solid #C4C4C4;
    }

    tr{
      span.nobr{
        @include font(l-small, 20, 400) ;
        font-weight: 400 !important;
        color: #C4C4C4 !important;

        &:before {
          @include font(l-small, 20, 400) ;
          font-weight: 400 !important;
          color: #C4C4C4 !important;
        }
      }

      td{
        &:before {
          @include font(l-small, 20, 400) ;
          font-weight: 400 !important;
          color: #C4C4C4 !important;
        }
        a, time, span{
          @include font(l-small, 20, 400) ;
          color: palette(secondary);
        }
      }
    }

    .woocommerce-orders-table__cell-order-actions{
      @include mq($max: 768) {
        border-bottom: 1px solid palette(secondary);
      }
    }
  }
  table.my_account_orders{
    td{
      padding: 11px!important;
    }
    .button{
      @extend .c-button--primary;
    }
  }
}

.woocommerce-view-order{
  .woocommerce{
    .woocommerce-MyAccount-content{
      h2{
        font-family: Poppins;
        @include font(large, 24, 700);
        margin-bottom: 26px;
      }
      p{
        color: palette(secondary);
        text-align: left;
      }
    }
    table.woocommerce-table--order-details{
      border-radius: 0;
      border: none;

      @include mq(768) {
        padding: 30px;
        border: 1px solid #C4C4C4;
      }
    }
  }
}