.c-sidebar {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

/*--------Price filter --------------*/
.c-sidebar{
  padding-bottom: 30px;
  border-bottom: 1px solid #C4C4C4;


  &.widget_price_filter {
    .price_slider_amount {
      display: flex;
      flex-direction: column;

      button[type="submit"].button {
        clear: both;
        overflow: hidden;
        width: 100%;
        order: 1;
        text-align: left;
        padding-left: 0;

        @extend .c-button;
      }

      .price_label {
        text-align: left;
      }
    }

    form {
      padding: 14px 15px 0 0;

      .ui-slider,
      .price_slider{
        div.ui-slider-range,
        div.ui-widget-header {
          background: #000000 !important;
          height: 4px;
        }

        .ui-slider-handle {
          top: -14px;
          width: 28px;
          height: 28px;
          background-color: #FFFFFF;
          box-shadow: 0 0.5px 4px rgba(0, 0, 0, 0.12), 0 6px 13px rgba(0, 0, 0, 0.12);
        }

        &.ui-widget-content {
          background-color: #C4C4C4;
          height: 4px;
        }
      }
    }
  }

}