.c-faq__header {
  position: relative;
  padding: 30px;
  border-top: 15px solid #fff;
  background: palette(secondary, 400);
  cursor: pointer;

  @include mq(768) {
    padding: 50px;
  }

  &.is-active {
    .c-faq__title {
      color: palette(primary);
    }
  }
}

.c-faq__title {
  margin-bottom: 0;
  font-family: Poppins;
  @include font(large, 24, 700);
  color: palette(secondary);;

  @include mq(768) {
    @include font(large, 24, 700);
  }
}

.c-faq__content {
  display: none;
  padding: 0 30px 30px 30px;
  @include font(m-small, 14, 400);
  background: palette(secondary, 400);

  @include mq(768) {
    padding: 0 112px 50px 112px;
    @include font(base, 22, 400);
  }

  &.is-active {
    display: block;
  }
}

.c-faq__icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%) rotate(0deg);
  display: inline-block;
  transition: all 0.2s linear;

  @include mq($max: 768) {
    right: 30px;
    width: 15px;
    height: 15px;
  }

  path {
    stroke: palette(secondary);
  }

  .is-active & {
    transform: translateY(-50%) rotate(45deg);

    path {
      stroke: palette(primary);
    }

  }
}