.c-footer-pay {
  margin-bottom: 40px;

  @include mq(992){
    padding-top: 5px;
    margin-bottom: 0;
  }
}

.c-footer-pay__title {
  margin-bottom: 16px;
  @include font(mid, 25, 700);
  color: palette(text);
  letter-spacing: 0.04em;
  text-align: center;
  @include mq(992) {
    text-align: left;
  }

}

.c-footer-pay__list {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(992) {
    justify-content: flex-start;
  }
}

.c-footer-pay__item {
  &:not(:last-child) {
    margin-right: 22px;
  }
}