.c-product-sidebar-filter {
  display: inline-block;
  @include mq(992) {
    display: none;
  }
}
.c-product-sidebar-filter__icon-label{
  @include font(large, 24, 700);
}
.c-product-sidebar-filter__icon {
  display: inline-block;
  width: 20px;
  height: 20px;

  .is-active & {
    color: palette(primary);
  }
}

.c-product-sidebar-filter__label {
  margin-left: 4px;

  .is-active & {
    color: palette(primary);
  }
}

.c-product-sidebar {
  position: relative;
  min-width: 250px;
  @include mq(992) {
  }


  ul {
    max-height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

   &.is-close{
     max-height: 0;
     transition: all 0.5s ease-in-out;
    }
  }
}

.c-product-sidebar__menus {
  position: fixed;
  height: 100vh;
  overflow: scroll;
  top: 0;
  right: -3px;
  z-index: 99999;
  transform: translateX(100%);
  width: 250px;
  padding: 16px;
  background-color: palette(secondary, 400);
  transition: all 0.3s linear;

  .is-active & {
    transform: translateX(0);
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
  }


  @include mq(992) {
    position: static;
    height: auto;
    overflow: visible;
    transform: none;
    width: 100%;
  }
}

.c-product-sidebar__close-btn {
  margin-bottom: 120px;
}

.c-product-sidebar__title {
  @include font(large, 24, 700);
  letter-spacing: 0.04em;
  padding-right: 10px;

  &:after {
    content: url("/wp-content/themes/gift/img/icons/Filter_icon.svg");
    width: 10px;
    float: right;
    transition: all 0.5s ease-in-out;
  }
}



.c-sidebar__title {
  margin-bottom: 14px;
  font-family: "Poppins", sans-serif;
  @include font(base, 16, 700);
  letter-spacing: 0.04em;
  cursor: pointer;

  &:after {
    content: url("/wp-content/themes/gift/img/icons/filter_arrow.svg");
    transform: rotate(-180deg);
    width: 10px;
    float: right;
    transition: all 0.5s ease-in-out;
  }


  &.is-open {
    &:after {
      transform: rotate(0deg);
    }
  }
}

.widget_price_filter {
  .c-sidebar__title {
    &:after {
      content: '';
    }
  }
}

.c-product-sidebar__menus {
  .product-categories {
    .cat-item {
      a {
        @include font(base, 24, 300);
        color: palette(text);
        transition: all 0.2s ease-in-out;

        &:hover {
          font-weight: 700;
          color: palette(primary);
        }
      }

      &.current-cat {
        a {
          font-weight: 700;
          color: palette(primary);
        }
      }
    }
  }

  .woocommerce {
    .woocommerce-widget-layered-nav-list {
      .woocommerce-widget-layered-nav-list__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-height: 38px;

        &:before {
          position: absolute;
          left: 0;
          content: "";
          height: 17px;
          width: 17px;
          border: 2px solid #373737;
        }

        &:after {
          display: none;
        }

        span {
          &:first-child {
            max-width: 150px;
          }
        }

        .count {
          color: palette(secondary, 500);
          @include font(base, 16, 300);
        }

        a {
          padding-left: 30px;
          z-index: 3;
        }
      }

      .woocommerce-widget-layered-nav-list__item--chosen {
        a {
          &:before {
            position: absolute;
            left: 3px;
            content: url("/wp-content/themes/gift/img/icons/check.svg");
            height: 10px;
            width: 12px;
          }
        }
      }
    }
  }

}

