.extra-options {
  margin: 14px 0 20px;

  .thwepo-conditional-field {
    padding-left: 40px;
    .value {
      //display: flex;
      align-items: center;
      margin: 0 -9px;

      .thwepo-image-group-item{
        margin-right: 0;
      }

      label {
        display: block;
        margin: 0 !important;
        padding: 0 2px;
        //width: 33.33%;
        font-size: 0;
        cursor: pointer;

        input[type="radio"] {
          visibility: hidden;
          height: 0;
          width: 0;
        }

        div {
          border: 1px solid transparent;
          width: 100px;
          height: 100px;

          img {
            object-fit: cover;
          }
        }

        input[type="radio"]:checked + div {
          border-color: palette(primary);
        }
      }
    }
  }

  label.label-tag {
    input[type="checkbox"] {
      visibility: hidden;
      width: 0;
      height: 0;
      margin: 0;
    }

    span.label-tag {
      position: relative;
      padding-left: 26px;
      @include font(l-small, 16, 700);
      cursor: pointer;

      &:after, &:before {
        content: '';
        position: absolute;
      }

      &:before {
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid palette(secondary, 500);
        background: #fff;
      }

      &:after {

      }
    }

    input[type="checkbox"]:checked + span.label-tag {
      &:after {
        top: calc(35% - 2px);
        left: 3px;
        width: 5px;
        height: 8px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg) translateY(-50%);
      }
    }
  }

  .thwepo-field{
    grid-template-columns: 1fr;
  }
  .text-cell {
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid palette(secondary, 400);

    br {
      display: none;
    }
  }
}

.product_options_header {
  flex: 0 0 auto;
  @include font(mid, 21, 700);
  color: #000;
}

.product_options_description {
  margin: 0;
  padding: 0 0 0 12px;
  font-size: 10px !important;
  line-height: 12px;
  font-weight: 300;
}