.c-main-menu {
  @include mq($mobMenu) {
    text-align: center;
  }
}


@include mq($mobMenu) {
  .c-main-menu__list {
    display: flex;
    justify-content: space-evenly;

    & > .menu-item {
      display: inline-block;
      padding: 10px;

      a {
        display: inline-block;
        @include font(mid, 25, 400);
        color: palette(text);
        letter-spacing: 0.04em;
      }

      &.current-menu-parent {
        a {
          color: palette(primary);
        }
      }

      &.current-menu-item {
        a {
          color: palette(primary);
        }
      }

      &.menu-item-has-children {
        position: relative;

        .sub-menu {
          display: none;
          width: 264px;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 30;
          padding: 26px 21px 24px;
          background: rgba(palette(secondary, 400), 0.89);

          .menu-item {
            display: block;
            text-align: left;

            a {
              @include font(l-small, 23, 300);
              color: palette(secondary);
              text-transform: none;

              &:hover {
                color: palette(primary);
                font-weight: 500;
              }
            }

            &.current-menu-item {
              a {
                color: palette(primary);
                font-weight: 500;
              }
            }
          }
        }

        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }

      &:hover {
        & > a {
          color: palette(primary);
        }
      }
    }

    .menu-item.menu-item-has-children.hide-dropdown {
      .sub-menu, .dropdown-link-icon {
        display: none;
      }
    }
  }
}
