.c-newsletter {
}

.c-newsletter__form {
  display: flex;

  input[type="email"], input[type="submit"] {
    padding: 6px 14px;

    @include mq(768) {
      padding: 11px 15px;
    }

    @include mq(992) {
      padding: 5px 20px;
    }
  }

  input[type="email"] {
    width: calc(100% - 65px);
    @include font(base, 22, 300);
    border: none;
    border-bottom: 4px solid #fff;
    color: #fff;
    border-radius: 0;
    background: transparent;
    margin: 0;

    @include mq(768) {
      @include font(mid, 25, 300);
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
    }

    &:focus {
      border-color: #fff;
    }

  }

  input[type="submit"] {
    font-size: 0;
    border: none;
    border-bottom: 4px solid #fff;
    color: transparent;
    background-image: url("../../img/icons/submit-icon-white.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 54px;

  }
}

.c-newsletter-wrapper__intro {
  margin-bottom: 38px;
  @include mq(768) {
    margin-bottom: 0;
  }
}

.c-newsletter-wrapper__title,
.c-newsletter-wrapper__subtitle {
  @include font-family(base);
  color: #fff;
  letter-spacing: 0.04em;
}

.c-newsletter-wrapper__title {
  margin-bottom: 10px;
  @include font(mid, 25, 700);

  @include mq(768) {
    margin-bottom: 6px;
    @include font(large, 33, 700);
  }
}

.c-newsletter-wrapper__subtitle {
  margin-bottom: 0;
  @include font(l-small, 19, 400);

  @include mq(768) {
    @include font(mid, 25, 400);
  }
}

.c-newsletter__terms {
  padding-left: 10px;
  margin-top: 6px;
  line-height: 0;

  @include mq(768) {
    padding-left: 20px;
  }

  input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  label {
    position: relative;
    display: block;
    padding-left: 22px;
    @include font(m-small, 16, 400);
    color: #fff;
    cursor: pointer;

    a {
      color: #fff;
      text-decoration: underline;
    }

    &:after, &:before {
      content: '';
      position: absolute;
    }

    &:after {
      left: 5px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid palette(secondary);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }

    &:before {
      top: 0;
      left: 0;
      display: block;
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: 1px solid #fff;
      transition: all 0.2s ease-in-out;
    }
  }

  input[type='checkbox']:checked + label {
    font-weight: 400;

    &:after {
      opacity: 1;
    }

    &:before {
      background-color: #fff;
    }
  }
}


// footer newsletter

.o-footer__newsletter {
  input[type="email"] {
    border-bottom: 4px solid palette(secondary, 700);
    color: palette(text);
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: palette(text);
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: palette(text);
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: palette(text);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: palette(text);
    }

    &:focus {
      border-color: palette(text);
    }
  }

  input[type="submit"] {
    border-bottom: 4px solid palette(text);
    background-image: url("../../img/icons/submit-icon-black.svg");
  }
  .c-newsletter__terms label{
    color:palette(text);
    a{
      color:palette(text);
    }
    &:before{
      border: 1px solid palette(text);
    }
  }
}