.c-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 9999;
  padding: 22px 16px;
  height: 100%;
  width: 278px;
  color: #fff;
  background: rgba(palette(secondary), 0.96);
  transition: all 0.2s linear;

  &.is-open {
    transform: translateX(0);
  }
}

.c-mobile-menu__close {
  color: #fff;
  margin-bottom: 40px;
  cursor: pointer;
}

.c-mobile-menu__list {
  .menu-item {
    border-bottom: 1px solid palette(secondary, 500);

    a {
      display: block;
      padding: 16px 0;
      @include font(mid, 18, 400);
      color: #fff;
      letter-spacing: 0.04em;

      &.is-open {
        color: palette(primary);
      }
    }

    &.hide-dropdown {
      a {
        position: relative;
        padding-right: 40px;
      }
    }

    &.current-menu-item {
      > a {
        color: palette(primary);
      }
    }

    .sub-menu {
      display: none;
      padding: 8px 0;
      border-top: 1px solid palette(secondary, 500);

      .menu-item {
        border: none;

        a {
          padding: 8px 0;
          @include font(base, 16, 400);
        }
      }
    }
  }
}

.dropdown-link-icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 40px;
  z-index: 10;

  svg {
    margin-left: auto;
  }
}

.c-mobile-menu__footer {
  margin-top: 40px;
}

.c-mobile-menu__phone {
  @include font(small, 16, 400);
  color: #fff;
}