.c-product-slide {
  .product {
    display: block;
    margin: 0;
    padding: 0;

    .archive-product-image {
      margin-bottom: 16px;
      overflow: hidden;

      img {
        margin-bottom: 16px;
      }
    }

    .attachment-woocommerce_thumbnail {
      margin-bottom: 16px;
    }

    .woocommerce-loop-product__title,
    .woocommerce-loop-product__title {
      //min-height: 31px;
      @include font-family(base);
      @include font(mid, 25, 700);
      color: palette(text);
    }
  }
}