.c-slider {
  position: relative;

  @include mq(768) {
    padding: 0 20px;
  }

  @include mq(1300) {
    padding: 0;
  }

  .swiper-button-prev, .swiper-button-next {
    color: palette(text);
    display: none;

    @include mq(768) {
      display: flex;
    }

    &::after {
      font-size: 24px;
    }
  }

  .swiper-button-prev {    
    @include mq(768) {
      left: -10px;
    }

    @include mq(1300) {
      left: -35px;
    }
  }

  .swiper-button-next {
    @include mq(768) {
      right: -10px;
    }

    @include mq(1300) {
      right: -35px;
    }
  }
}

.c-slider__slider {



}

.c-slider__slide {
  a {
    display: block;
  }
}