.c-lang-menu {
  margin-right: -5px;
  .wpml-ls-item {
    .wpml-ls-link {
      padding: 5px 4px;
      @include font(small, 12, 300);
      color: palette(secondary);
    }

    &.wpml-ls-current-language {
      .wpml-ls-link {
        font-weight: 700;
      }
    }

    &:first-child {
      position: relative;
      padding-left: 5px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 3;
        height: 12px;
        width: 1px;
        background-color: palette(secondary, 500);
      }
    }
  }
}