.c-contact-info {

}

.c-contact-info__list {

}

.c-contact-info__item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
}

.c-contact-info__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  svg{
    width: 20px;
  }
}

.c-contact-info__link, .c-contact-info__text {
  font-family: Poppins;
  @include font(mid, 18, 300);
  color: palette(secondary);

  @include mq(768) {
    @include font(large, 24, 300);
  }
}


.c-contact-info__link {
  &:hover {
    color: palette(primary);
  }
}

.c-contact-info__item--time {
  margin-top: 40px;

  .c-contact-info__text {
    margin: 0;

    &:first-child {
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
}