

.c-popup__close{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: auto;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  color:#fff;
  svg{
    width: 14px;
    height: 14px;
  }
}


.c-popup__row{
  display: flex;
  margin: 0 - 15px;
}

.c-popup__column{
  width: 50%;
  padding: 15px;
}

.c-form-popup-pomoc{
  .mfp-content{
    max-width: 980px;
  }
  &.mfp-bg{
    background-color: #fff;
  }
}

.c-popup__container{
  padding: 40px 60px;
  background: #fff;

  margin: 0 auto;
  box-shadow: -2px 4px 10px 2px rgba(0, 0, 0, 0.25);
}
/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
