.c-footer-bottom-menu {
  text-align: center;
  @include mq(768) {
    text-align: right;
  }
}

.c-footer-bottom-menu__list {
  .menu-item {
    display: block;

    @include mq(768) {
      display: inline-block;
    }

    &:not(:last-child) {
      margin: 0 0 20px 0;
      @include mq(768){
        margin:0 25px 0 0;
      }
    }

    a {
      @include font(small, 16, 400);
      color: #fff;
    }
  }
}