.c-icon-box {
  margin: 0 auto 40px;

  @include mq(768) {
    margin: 0 auto;
    height: 100%;
  }
}

.c-icon-box__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.c-icon-box__header {
  text-align: center;

  img{
    display: inline-block;
  }
}

.c-icon-box__body {
  margin-top: 16px;
  flex-grow: 1;
  height: 100%;
}

.c-icon-box__text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font(base, 22, 400);
  color: palette(primary);
  text-align: center;
  letter-spacing: 0.04em;

  @include mq(768){
    @include font(mid, 25, 400);
  }


  p {
    margin-bottom: 0;
  }
}