.c-widget {
  padding-top: 8px;

  .menu {
    .menu-item {
      a {
        display: inline-block;
        color: palette(text);
        @include font(base, 22, 400);
        letter-spacing: 0.04em;

        &:hover {
          color: palette(primary);
        }
      }
      &:not(:last-child){
        margin-bottom: 6px;
      }
    }
  }
}