.woocommerce {
  .woocommerce-breadcrumb-wrapper {
    padding: 34px 0;

    nav.woocommerce-breadcrumb {
      margin: 0;
      color: palette(text);
      @include font(small, 12, 400);

      a {
        color: palette(secondary, 500);
      }

      .breadcrumb-delimiter {
        display: inline-block;
        margin: 0 6px;
        color: palette(secondary, 500);
      }
    }
  }
}
