.c-icons-menu {

}

.c-icons-menu__list {
  @include mq($max: 992) {
    line-height: 0;
  }

  @include mq(992) {
    text-align: right;
  }
}

.c-icons-menu__item {
  display: inline-block;
  margin-left: 11px;
}

.c-icons-menu__icon,
.c-mini-cart__icon {
  display: inline-block;
  color: palette(text); // temp
  .c-icons-menu__list--dark & {
    color: palette(text);
  }

  svg {
    @include mq($max: $mobMenu) {
      max-width: 18px;
      height: 18px;
    }

    .is-sticky & {
      @include mq($mobMenu) {
        max-width: 20px;
        height: 20px;
      }
    }
  }
}

.c-icons-menu__item--search {
  display: none;
  margin-right: 20px;

  @include mq($mobMenu) {
    display: inline-block;
  }
}