/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */

$_color-primary-500: #F45D48 !default;
$_color-primary-400: #ffffff !default;

$_color-secondary-400: #F8F5F2 !default;
$_color-secondary-500: #C4C4C4 !default;
$_color-secondary-600: #8E92A4 !default;
$_color-secondary-700: #373737 !default;
$_color-secondary-800: #2A324B !default;
$_color-secondary-900: #232323 !default;

$_color-text-500: #373737 !default;

/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
$palettes: (
        'primary': (
                base: $_color-primary-500,
                400:$_color-primary-400
        ),
        'secondary': (
                400:$_color-secondary-400,
                500:$_color-secondary-500,
                600:$_color-secondary-600,
                700:$_color-secondary-700,
                800:$_color-secondary-800,
                base: $_color-secondary-900,
        ),
        'text': (
                base: $_color-text-500,
        ),
);

