/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */

/**
 * Our base font-size and line-height
 */
$base-font-size: 16 !default;
$base-line-height: 24 !default;
$line-height-ratio: $base-line-height/$base-font-size !default;

$font-sizes: (
        m-small: 10,
        m2-small: 11,
        small: 12,
        l-small: 14,
        base: $base-font-size,
        mid: 18,
        mid-m: 19,
        mid-large: 20,
        m-mid-large: 22,
        large: 24,
        s-large: 28,
        s1-large: 30,
        m-large: 32,
        m2-large: 34,
        l-large: 36,
        l1-large: 40,
        x-large: 48,
        x1-large: 58,
        x2-large: 68,
        xx1-large: 105,
        xx2-large: 138,
        x3-large: 150,
        x4-large: 250,
        x5-large: 350,
        big-large: 450,
);

/**
 *	Here we assign short names for the font families
 */
$font-bebas-neue: 'Bebas Neue', cursive;
$font-poppins: 'Poppins', sans-serif;
$font-awesome: "Font Awesome 5 Free";

$_font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-families: (
        base: $font-poppins,
        secondary:$font-bebas-neue,
        font-awesome:$font-awesome,
  // Fallback font
        system: $_font-system
);

