.woocommerce {
  .o-products__loop {
    padding: 0;
    @include mq(992) {
      //padding: 90px 0;
    }




    nav.woocommerce-pagination {
      text-align: right;

      .page-numbers {
        border: none;

        li {
          background: transparent;
          border: none;

          span, a {
            color: palette(text);
            @include font(small, 12, 700);
            background: transparent;

            &.current {
              color: palette(primary);
            }
          }

        }
      }
    }
  }
}

