.woocommerce-account {
  &:not(.logged-in) {
    .site-main {
      padding: 90px 0;
    }

    .woocommerce {
      //@extend .container;
      .u-columns {
        @extend .row;
        @extend .justify-content-center;
        @include mq($max: 768) {
          display: block;
          margin: 0;
        }

        .u-column1.col-1, .u-column2.col-2 {
          @extend .col-12;
          @extend .col-md-6;
          @extend .col-lg-5;
          float: none;
          @include mq($max: 768) {
            padding: 0;
            width: 100%;
          }
        }
      }
    }

    .s-default-page__title {
      display: none;
    }
  }
}

.woocommerce {
  .woocommerce-MyAccount-navigation {
    ul {
      .woocommerce-MyAccount-navigation-link {
        a {
          color: palette(secondary);

          &:hover {
            color: palette(primary);
          }
        }

        &.is-active {
          a {
            color: palette(primary);
          }
        }
      }
    }
  }
}

