.o-testimonials {
  overflow: hidden;
  padding: 175px 0;

  @include mq(768) {
    padding: 275px 0;
  }

  .c-intro-title {
    margin-bottom: 0;
  }

  #wpdcom {
    max-width: 100%;

    .wpd-auth {
      .wpd-login {
        a {
          color: #000;
        }
      }
    }

    .wpd-form {
      .wpd_comm_form {
        max-width: 874px;
        margin: 0 auto;

        .wpdiscuz-textarea-wrap {
          flex-direction: column !important;

          textarea {
            height: 50px !important;
            border-radius: 0;
            box-shadow: none;
            z-index: 1;
            display: block;
            width: 100%;
            padding: 8px 14px;
            @include font(base, 20, 400);
            color: palette(secondary);
            background: transparent;
            -webkit-appearance: none;
            border: none;
            border-bottom: 2px solid palette(secondary, 800);

            @include mq(768) {
              @include font(small, 14, 400);
            }

            @include mq(992) {
              @include font(small, 16, 400);
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: palette(secondary, 500);
              font-weight: 300;
            }

            &::-moz-placeholder { /* Firefox 19+ */
              color: palette(secondary, 500);
              font-weight: 300;
            }

            &:-ms-input-placeholder { /* IE 10+ */
              color: palette(secondary, 500);
              font-weight: 300;
            }

            &:-moz-placeholder { /* Firefox 18- */
              color: palette(secondary, 500);
              font-weight: 300;
            }

            &:active, &:focus {
              border-color: palette(secondary);
            }
          }

          .wpd-textarea-wrap {
            width: 100%;
          }
        }
      }
    }

    .wpd-form-row {

      .wpcf7-form-control-wrap {
        position: relative;
        display: block;
        margin: 16px 0;

        & > .wc-textarea-0_0 {
          position: absolute;
          top: 8px;
          left: 12px;
          display: inline-block !important;
          @include font(base, 16, 400);
          letter-spacing: 0.04em;
          transition: all 0.2s ease-in-out;

          &.has-value {
            top: -8px;
            left: 0;
            @include font(m-small, 10, 700);
            @include mq(768) {
              top: -20px;
              @include font(base, 16, 700);
            }
          }
        }
      }

      .wpdiscuz-item {
        input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
          position: relative;
          z-index: 1;
          display: block;
          width: 100%;
          padding: 8px 14px;
          @include font(base, 20, 400);
          color: palette(secondary);
          background: transparent;
          -webkit-appearance: none;
          border: none;
          border-bottom: 2px solid palette(secondary, 800);
          border-radius: 0;
          box-shadow: none;

          @include mq(768) {
            padding: 7px 12px;
          }

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: palette(secondary, 500);
            font-weight: 300;
          }

          &::-moz-placeholder { /* Firefox 19+ */
            color: palette(secondary, 500);
            font-weight: 300;
          }

          &:-ms-input-placeholder { /* IE 10+ */
            color: palette(secondary, 500);
            font-weight: 300;
          }

          &:-moz-placeholder { /* Firefox 18- */
            color: palette(secondary, 500);
            font-weight: 300;
          }

          &:active, &:focus {
            border-color: palette(secondary);
          }
        }
      }
    }

    .wpd-form-col-full {
      text-align: center;
    }

    .wc-field-submit {
      padding: 0;
      position: relative;
      display: inline;
      width: 200px;
      margin: 50px auto 0 auto;


      input[type="submit"] {
        display: inline-block;
        padding: 0 26px 0 0;
        @include font(mid, 22, 700);
        color: palette(secondary, 800);
        letter-spacing: 0.04em;
        border: none;
        background: none;
        cursor: pointer;
        -webkit-appearance: none;
        box-shadow: none;

        &:disabled {
          cursor: not-allowed;
          //opacity: 0.5;
        }
      }

      &:after {
        content: '\f061';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: inline-block;
        @include font-family(font-awesome);
        @include font(base, 18, 900);
        transition: all 0.2s linear;
      }

      .wpd_label {
        display: none;
      }
    }

    .wpd-thread-head {
      border-bottom: none;

      .wpd-thread-filter {
        display: none;
      }

      .wpd-thread-info {
        flex-grow: 1;
        border-bottom: 1px solid #C4C4C4;
      }

      .wpd-space {
        flex-grow: 0;
      }
    }

    .wpd-comment {
      max-width: 874px;
      margin: 0 auto;

      .wpd-comment-wrap {
        text-align: left;
        @include mq($max: 600) {
          display: flex;
        }
      }

      .wpd-comment-right {
        width: auto;
      }

      .wpd-comment-left {
        width: 35px;

        @include mq(768) {
          width: 75px;

          img {
            width: 75px;
            height: 75px;
            max-width: 75px;
          }
        }

        @include mq(1200) {
          width: 100px;

          img {
            width: 100px;
            height: 100px;
            max-width: 100px;
          }
        }
      }

      .wpd-comment-label {
        display: none;
      }

      .wpd-blog-post_author {
        .wpd-avatar img {
          border-color: #cccccc;
        }
      }
    }

    .wpd-blog-guest {
      .wpd-comment-author {
        @include font(small, 16, 700);
        letter-spacing: 0;

        @include mq(768) {
          @include font(base, 18, 700);
        }

        @include mq(1200) {
          @include font(mid, 21, 700);
        }
      }
    }

    .wpd-comment-header {
      .wpd-comment-author {
        @include font(small, 16, 700);
        letter-spacing: 0;

        @include mq(768) {
          @include font(base, 18, 700);
        }

        @include mq(1200) {
          @include font(mid, 21, 700);
        }
      }
    }

    .wpd-comment-text {
      @include font(m-small, 14, 400);

      @include mq(768) {
        @include font(small, 18, 400);
      }

      @include mq(1200) {
        @include font(l-small, 21, 400);
      }
    }

    .wpd-comment-footer {
      .wpd-reply-button {
        @include font(small, 16, 400);
      }
    }

    .wpd-form-head {
      border-bottom: none;
      justify-content: flex-end;
      @include font(small, 16, 400);

      a:first-of-type {
        font-weight: 700;
      }
    }
  }

  .wpcf7-acceptance {
    display: block;
    margin-top: 25px;
  }

  .wpd-rating-wrap {
    .wpd-rating-right,
    .wpd-rating-left {
      display: none;
    }
  }

  .wpd-rating-value {
    width: 67px !important;
    height: 47px !important;
    border: none !important;
    border-radius: 0 !important;
    display: inline-block;
    padding: 11px 15px !important;
    margin: 0 auto;
    background-color: palette(primary) !important;

    .wpdrv,
    .wpdrc {
      margin-top: -15px;
      @include font(mid, 25, 700);
      line-height: 25px !important;
      color: #fff !important;
      letter-spacing: 0.04em;
    }
  }
}


