body {
  .site {
    .site-content {
      li.product {
        position: relative;

        .onsale {
          top: 0;
          left: 0;
          right: auto;
          margin: 0;
          min-width: auto;
          min-height: auto;
          padding: 7px;
          @include font(m-small, 10, 700);
          color: #fff;
          text-align: center;
          letter-spacing: 0.04em;
          border-radius: 0;
          background-color: palette(primary);
          @include mq(768){
            padding: 10px 12px;
            @include font(base, 22, 700);
          }
        }

        .product-card-cats {
          padding: 0 14px;
          line-height: 1;
          color: palette(text);

          a {
            display: inline-block;
            color: inherit;
            @include font(m-small, 14, 400);
            letter-spacing: 0.04em;

            &:hover {
              color: palette(primary);
            }
          }
        }

        .woocommerce-loop-product__title {
          margin: 5px 0 12px 0;
          padding: 0 14px;
          @include font-family(base);
          @include font(small, 16, 700);
          color: palette(text);
          @include mq(768) {
            margin: 0 0 12px 0;
            @include font(mid, 25, 700);
          }
        }

        .price {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 0;
          padding: 0 14px;

          .woocommerce-Price-amount {
            @include font(l-small, 20, 700);
            color: palette(primary);
            display: inline-block;
            text-decoration: none;
            @include mq(768){
              @include font(mid, 25, 700);
            }
            span{
              padding-left: 7px;
            }
          }

          del {
            opacity: 1;

            .woocommerce-Price-amount {
              margin-left: 20px;
              @include font(m-small, 14, 400);
              color: palette(secondary, 600);
              text-decoration: line-through;
              span{
                padding-left: 7px;
              }
            }
          }

          ins {
            @include font(l-small, 20, 700);
            color: palette(primary);
            display: inline-block;
            text-decoration: none;
            @include mq(768){
              @include font(mid, 25, 700);
            }
          }
        }

        .star-rating {
          float: none;
          margin-left: 14px;
          margin-bottom: 6px;
        }

        .add_to_cart_button,
        .product_type_variable,
        .product_type_simple {
          display: block;
          padding: 30px 10px 20px;
          @include font(l-small, 14, 700);
          color: palette(primary);
          text-align: center;
          background: transparent;
          border-radius: 0;
          opacity: 1;

          @include mq(768){
            @include font(mid, 22, 700);
            opacity: 0;
          }

          &:after {
            content: '\f061';
            margin-left: 12px;
            @include font-family(font-awesome);
            @include font(base, 18, 900);
          }
        }

        &:hover {
          background: #fff;

          .button {
            opacity: 1;
          }
        }
      }
    }
  }
}
