.single-product.woocommerce {
  .woocommerce-notices-wrapper {
    & > div {
      margin-bottom: 50px;
    }
  }

  .o-single-product__img {
    position: relative;

    .woocommerce-product-gallery {
      display: flex;
      flex-direction: column;

      .flex-control-thumbs {
        order: 3;
        display: flex;
        flex-wrap: wrap;
        margin: 10px -10px 0;

        li {
          width: 25%;
          float: none;
          padding: 10px;

          img {
            border: 1px solid transparent;

            &.flex-active {
              border-color: palette(primary);
            }
          }
        }
      }

      .flex-direction-nav {
        order: 2;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 80px;
        margin-left: auto;
        margin-top: -44px;
        padding: 0 0 20px;

        li {
          a {
            position: relative;
            display: inline-block;
            width: 22px;
            font-size: 0;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 12px;
              background-image: url("../../img/icons/slider-arrow.svg");
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }

            &.flex-prev {
              &:after {
                transform: translate(-50%, -50%);
              }
            }

            &.flex-next {
              &:after {
                transform: translate(-50%, -50%) rotate(180deg);
              }
            }
          }

          &:first-child {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .yith-wcwl-add-to-wishlist {
    margin: 0 0 16px 0;
  }

  .yith-wcwl-add-button {
    text-align: right;

    i {
      font-size: 22px;
    }
  }

  #content {
    .o-single-product {
      //padding-top: 50px;

      div.woocommerce-product-gallery, .summary.entry-summary {
        float: none;
        width: 100%;
      }

      .product_title {
        margin-bottom: 2px;
        @include font-family(base);
        @include font(mid, 20, 700);
        letter-spacing: 0.04em;

        @include mq(768) {
          @include font(large, 28, 700);
        }
      }

      .summary {
        .price {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;

          @include font(s-large, 28, 700);
          color: palette(secondary);
          margin-bottom: 21px;

          del, ins {
            text-decoration: none;
          }

          ins{
            bdi,
            .woocommerce-Price-currencySymbol{
              @include font(mid, 18, 700);
              color: palette(primary);

              @include mq(768) {
                @include font(large, 24, 700);
              }
            }
          }

          del{
            display:inline-block;
            margin-left: 25px;
            bdi,
            .woocommerce-Price-currencySymbol{
              @include font(small, 12, 400);
              color: #C4C4C4;
              text-decoration: line-through;
              text-decoration-color: #C4C4C4;

              @include mq(768) {
                @include font(mid, 18, 400);
              }

            }
          }

          .woocommerce-Price-currencySymbol,
          .woocommerce-Price-amount {
            padding-left: 3px;
            display: inline-block;
          }
        }
      }

      .woocommerce-product-details__short-description {
        @include font(l-small, 22, 400);
      }
    }
  }

  .button.button[type="submit"] {
    @extend .c-button;
    @extend .c-button--primary;
    @extend .c-button--full;
    max-width: 370px;
    float: right;
  }

  .alg-wc-wl-btn-wrapper{
    margin-bottom: 20px;

    @include mq(768) {
      position: absolute;
      top: -16px;
      left: 0;
      transform: translateY(-100%);
      width: 100%;
      text-align: right;
      margin-bottom: 0;
      padding: 0 15px;
    }

    .alg-wc-wl-toggle-btn{
      background: none;
    }
    .alg-wc-wl-view-state-add{

      text-transform: uppercase;
      color: palette(secondary, 500);
      @include font(small, 16, 400);

      @include mq(768) {
        @include font(l-small, 16, 400);
      }

      &:hover {
        color: palette(text);
      }
    }
  }

  .tinv-wishlist {
    .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before {
      font-size: 20px;

      @include mq(768) {
        font-size: 26px;
      }
    }
  }

  .alg-wc-wl-view-state-remove {
    .tinvwl_remove_from_wishlist-text {
      color: #000;
    }
  }

  .quantity .qty {
    width: 80px;
    height: 40px;
    border: 1px solid palette(secondary, 400);
  }
}


.related.products {
  position: relative;
  margin-top: 38px;
  padding: 46px 0;
  background: palette(secondary, 400);

  @include mq(1200) {
    margin-top: 60px;
    padding: 66px 0;
  }

  .c-intro-title {
    @include mq($max: 1200) {
      margin-bottom: 10px;
    }
  }

  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    background: palette(secondary, 400);
  }

  &:before {
    left: -100vw;
  }

  &:after {
    right: -100vw;
  }
}


body.woocommerce .o-single-product__img .onsale {
  left: 0;
  right: auto;
  margin: 0;
  min-width: auto;
  min-height: auto;
  padding: 10px 12px;
  @include font(base, 22, 700);
  color: #fff;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 0;
  background-color: palette(primary);
}