.woocommerce-page {
  .site-content {
    padding: 74px 0 0;
    min-height: 70vh;
    overflow-x: hidden;
    @include mq($mobMenu) {
      padding: 158px 0 34px;
    }
  }

  &.has-sticky {
    @include mq($mobMenu) {
      .site-content {
        padding-top: 76px;
      }
    }
  }
}

.woocommerce {
  #customer_login {
    justify-content: space-between !important;

    h2 {
      margin: 50px auto 0;
      @include font(x-large, 67, 400);
      font-family: "Bebas Neue";
      text-align: center;
      letter-spacing: 0.04em;
    }
  }

  form.woocommerce-form {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 0;

    @include mq(1024) {
      padding-left: 50px;
      padding-right: 50px;
    }

    .woocommerce-privacy-policy-text {
      p {
        color: palette(secondary, 500);
        @include font(small, 17, 400);
      }
    }

  }

  button.button.alt {
    @extend .c-button;
  }

  .return-to-shop {
    a.button {
      @extend .c-button;
    }
  }
}


.woocommerce {
  div.product {
    .woocommerce-product-rating {
      margin-bottom: 18px;
    }

    .woocommerce-tabs {

      ul.tabs {
        padding: 0;

        &:before {
          border-bottom: 1px solid #E5E5E5;
        }

        li {
          padding: 0 30px;
          margin: 0;
          border: none !important;
          background-color: transparent;
          position: relative;

          &:before {
            display: none;
          }

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 2px;
            height: 16px;
            background-color: palette(text);
            border: none;
            border-radius: 0;
            box-shadow: none;
          }

          &:first-child {
            padding-left: 0;

            &:after {
              display: none;
            }
          }

          &.active {
            background-color: transparent;

            a {
              color: palette(text);
            }
          }

          a {
            @include font(mid, 21, 700);
            text-transform: uppercase;
            color: palette(secondary, 500);
          }
        }
      }
    }
  }

  #reviews {
    #comment {
      border: 1px solid #C4C4C4;
      height: 105px;
      resize: none;
    }
  }
}

.woocommerce-cart {
  .c-intro-title {
    margin-bottom: 50px;
    @include font(x-large, 67, 700);
    letter-spacing: 0.04em;
  }

  .woocommerce {
    table.shop_table {

      .woocommerce-Price-currencySymbol {
        display: inline-block;
        padding-left: 5px;
      }

      tr {
        th {
          color: palette(secondary, 500);
          @include font(base, 22, 400);
        }

        td {
          vertical-align: top;

          a,
          span {
            @include font(mid, 25, 700);
          }
        }
      }
    }
  }

  form.woocommerce-cart-form {
    td.actions {
      padding-top: 50px !important;
    }

    tr, td {
      padding: 25px 20px;

      a, span {
        color: palette(secondary);
        @include font(mid, 18, 700);
      }
    }


    .product-thumbnail {
      display: block !important;

      img {
        width: 92px;
      }
    }

    button.update-cart[type="submit"] {
      width: auto;
      display: inline-block;
      @extend .c-button;

      &:hover {
        background: none;
      }
    }


  }

  .wc-proceed-to-checkout {
    text-align: right;

    a.checkout-button {
      @extend .c-link;
      @extend .c-button;
      text-align: right;

      &:hover {
        background: none;
      }
    }
  }

  .woocommerce {
    a.remove {
      color: palette(secondary) !important;

      &:hover {
        background: none;
        color: palette(primary) !important;
      }
    }
  }


}

.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
  border-radius: 0;
  border: none;


  tr:last-of-type {
    td {
      @include mq(768) {
        padding: 25px 0 15px;
      }
    }
  }

  .woocommerce-cart-form__cart-item.cart_item {
    td:first-of-type {
      border-left: none;
    }

    td:last-of-type {
      border-right: none;
    }

    .thwepo-image-item {
      img {
        display: none;
      }
    }
  }
}

.cart-collaterals {
  margin: 36px 0 0 0;

  .cart_totals {
    padding: 30px !important;

    h2 {
      margin-bottom: 0;
      padding: 30px 30px 5px 30px !important;
      background: palette(secondary, 400);
      font-family: "Poppins", sans-serif;
      text-align: center;
      @include font(large, 24, 700);
    }

    .shop_table.shop_table_responsive {
      border: none;
      padding: 30px !important;
      background: palette(secondary, 400);

      th, tr, td {
        border: none !important;
      }

      th {
        @include font(mid, 28, 700);
        color: palette(secondary);
        padding: 4px 12px;
      }

      td {
        text-align: right;
        padding: 4px 12px;
      }

      .order-total {
        .woocommerce-Price-amount.amount {
          color: palette(primary);
          @include font(mid, 28, 700);

          span {
            @include font(mid, 28, 700);
            color: palette(primary);
            padding-left: 7px;
          }
        }
      }

      .cart-subtotal {
        .woocommerce-Price-amount.amount {
          color: palette(secondary);
          @include font(mid, 18, 700);

          span {
            padding-left: 7px;
          }
        }
      }
    }
  }
}

.woocommerce {
  .cart-empty.woocommerce-info {
    text-align: center;
    @include font(base, 22, 400);
    margin-bottom: 50px;

    &:before {
      color: #ffffff;
    }

    @include mq(768) {
      @include font(large, 36, 400);
      margin-bottom: 50px;
    }
  }

  .return-to-shop {
    text-align: center;

    a {
      @extend .c-link;
    }
  }
}


/*---------Checkout------------*/
.woocommerce-checkout {
  .checkout.woocommerce-checkout {
    .col2-set {
      width: auto;
      @extend .row;

      .col-1, .col-2 {
        @extend .col-12;
        @extend .col-md-6;
      }
    }
  }
}


.woocommerce .star-rating {
  font-size: 12px;

  span {
    color: palette(primary);
  }
}

body.woocommerce .woocommerce-product-rating .star-rating {
  margin-top: 0;


}

body.woocommerce #respond input#submit {
  @extend .c-button;
}


/*---------Message------------*/
.woocommerce {
  .woocommerce-message,
  .woocommerce-Message--info {
    padding: 18px 15px 18px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1170px;
    margin: 0 15px;
    border-top-color: palette(secondary, 500);
    @include font(l-small, 16, 400);

    @include mq(992) {
      padding: 30px 15px 18px 50px;
      flex-direction: row;
    }

    @include mq(1200) {
      margin: auto;
    }

    &:before {
      top: 17px;
      color: palette(secondary, 500);

      @include mq(992) {
        top: 29px;
      }
    }

    .button.wc-forward,
    .button.woocommerce-Button {
      @extend .c-button;
      float: none;
      align-self: center;
      order: 2;
      margin-top: 15px;

      @include mq(992) {
        margin: -13px 0 0 auto;
      }
    }

    &.woocommerce-Message--info {
      .button {
        @extend .c-button;
        float: none;
        align-self: center;
        order: 2;
        margin-top: 15px;

        @include mq(992) {
          margin: -13px 0 0 auto;
        }
      }
    }
  }
}

.woocommerce-form-coupon .woocommerce-info {

  background-color: transparent;

  &:before {
    color: palette(secondary, 500);
  }
}

.cart_totals {
  th {
    @include font(l-small, 16, 400);
  }
}

.woocommerce:not(.single-product) {
  .woocommerce-form-login {
    .woocommerce-form-login__submit.button[type="submit"] {
      // display: block !important;
      width: 100%;
      @extend .c-button;

      @include mq(1024) {
        margin-top: 50px;
      }
    }
  }

  .woocommerce-form-register {
    .woocommerce-form-register__submit.button[type="submit"] {
      width: 100%;
      @extend .c-button;

    }
  }
}

.woocommerce-LostPassword.lost_password, {
  @include font(small, 17, 400);

  a {
    color: palette(primary);

    &:hover {
      color: palette(secondary);
    }
  }
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  position: relative;

  input[type='checkbox'] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  span {
    display: inline-block;
    position: relative;
    @include font(small, 17, 400);
    color: palette(secondary);
    text-transform: none;
    cursor: pointer;
  }

  input[type='checkbox'] + span {

  }

  input[type='checkbox'] + span {
    padding-left: 20px;

    &:after, &:before {
      content: '';
      position: absolute;
    }

    &:after {
      left: 6px;
      top: 2px;
      width: 4px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:before {
      top: 0;
      left: 0;
      display: block;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border: 1px solid palette(secondary);
      transition: all 0.2s ease-in-out;
    }
  }

  input[type='checkbox']:checked + span {

    &:before {
      background-color: palette(secondary);
    }
  }
}

.woocommerce .woocommerce-MyAccount-navigation {
  @include mq($max: 768) {
    margin-bottom: 40px;
  }

  ul .woocommerce-MyAccount-navigation-link {
    @include font(l-small, 28, 700);

    @include mq($max: 768) {
      text-align: left;
    }
  }
}

.woocommerce-address-fields {
  .button[type="submit"] {
    float: right;
  }

  .woocommerce-address-fields__field-wrapper + p {
    position: relative;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.woocommerce-MyAccount-content {
  fieldset {
    border: none;
    padding: 0;
    margin: 65px auto 30px;
  }

  legend {
    @include font(large, 24, 700);
    letter-spacing: 0.04em;
  }

  .button[type="submit"] {
    float: right;
  }

  p {
    @include font(l-small, 16, 400);
  }
}

.woocommerce-cart {
  table.cart td.actions {
    .coupon {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 340px;
      margin: 0 auto;
      padding: 0 0 30px;
      border: none;

      @include mq(768) {
        padding: 0 0 50px;
      }

      p:first-child {
        margin-top: 10px;
        width: 100%;
        order: 3;
        @include font(small, 14, 400);
        color: palette(secondary, 500);
        text-align: center;
      }

      .form-row {
        width: auto;
        padding: 0;
        margin-bottom: 0;

        input {
          @include mq(375) {
            min-width: 280px;
          }
        }

        &.form-row-first {
          order: 1;
        }

        &.form-row-last {
          order: 2;
          width: 54px;

          &:before, &:after {
            display: none;
          }

        }
      }

      .input-text {
        background: transparent;
        -webkit-appearance: none;
        border: none;
        border-bottom: 2px solid palette(secondary, 800);
        margin-right: 0;
      }

      button {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 0;
        line-height: 1;
        border-bottom: 2px solid palette(text);
        border-radius: 0;
        background-image: url(/wp-content/themes/gift/img/icons/submit-icon-black.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 18px;
      }
    }
  }
}

.woocommerce-Tabs-panel--description {
  @include font(m-small, 14, 400);

  @include mq(768) {
    @include font(l-small, 22, 400);
  }
}

.woocommerce-form-row {
  em {
    @include font(m-small, 14, 400);
  }
}

.woocommerce-Addresses.addresses.col2-set {
  @include font(small, 14, 400);

  .col-1,
  .col-2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    @include mq(992) {
      max-width: 48%;
    }
  }
}

