.archive-product-image {
  position: relative;
}

.archive-product-image__cat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: block;
  margin-bottom: 0;
  padding: 8px 5px;
  @include font(m-small, 10, 700);
  color: #fff;
  letter-spacing: 0.04em;
  text-transform: lowercase;
  background-color: palette(secondary, 800);
  text-align: center;

  @include mq(768){
    padding: 12px 5px 10px;
    @include font(base, 22, 700);
  }
}

ul.products {
  transition: opacity 0.3s ease-in-out;

  &.filter-opened {
    opacity: 0.3;
  }
}