.o-footer {
  .c-socials-menu {
    margin-top: 48px;
    text-align: center;
    @include mq(992) {
      margin-top: 34px;
      text-align: left;
    }
  }
}

.o-footer__top {
  padding: 25px 0 36px;
  @include mq(768) {
    padding: 50px 0;
  }
  @include mq(992) {
    padding: 72px 0;
  }
}

.o-footer__bottom {
  padding: 25px 0;
  color: #fff;
  background: palette(secondary, 700);
  @include mq(768){
    padding: 13px 0;
  }
}

.o-footer__copyright {
  margin: 20px 0 0;
  @include font(small, 16, 400);
  text-align: center;

  @include mq(768){
    margin: 0;
    text-align: left;
  }
}

.o-footer__newsletter {
  max-width: 350px;
  margin: 42px auto 0;

  @include mq(992) {
    margin: 0;
    min-width: 350px;
    max-width: 100%;
  }
}