.o-header {
  position: relative;
  z-index: 90;
}

.o-header__logo {
  text-align: center;
  line-height: 0;
  font-size: 0;

  .custom-logo-link {
    display: inline-block;
    width: 100%;

    .custom-logo {
      max-width: 80px;
      margin: 0 auto;
      @include mq($mobMenu) {
        max-width: 300px;
        margin: 0;
      }
    }
  }
}


.o-header__top {
  display: none;
  padding: 5px 0;
  background-color: palette(secondary, 700);
  @include mq($mobMenu) {
    display: block;
  }
}

.o-header__phone {
  a {
    @include font(small, 16, 400);
    color: #fff;
    letter-spacing: 0.04em;

    &:hover {
      color: palette(primary);
    }
  }
}


.o-header__middle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 12px 0;
  background: rgba(255, 255, 255, 0.11);
  transition: background 0.2s linear, top 0.1s linear;

  @include mq($mobMenu) {
    top: 34px;
  }

  &.has-bg {
    background: #fff;
  }

  &.is-sticky {
    top: 0;
    background: #fff;
  }
}

.o-header__middle:not(.has-bg):not(.is-sticky) {
  .c-main-menu__list .menu-item a {
    color: #fff;

    &:hover {
      color: palette(primary);
    }
  }

  .c-icons-menu__icon, .c-mini-cart__icon {
    color: #fff;
  }
}

.o-header__bottom {
  display: none;
  margin-top: 12px;
  padding: 18px 0 0;


  @include mq($mobMenu) {
    display: block;
  }

  &.bordered-top {
    border-top: 1px solid palette(secondary, 500);
  }

  &.bordered-bottom {
    padding-bottom: 12px;
    border-bottom: 1px solid palette(secondary, 500);
  }
}


/*---------------Sticky-----------------------*/
.o-header {
  .o-header__middle {
    &.is-sticky {
      @include mq($mobMenu) {
        .o-header__bottom, .o-header__desktop-nav {
          display: none;
        }
        .o-header__logo-col {
          flex-basis: 0;
          flex-grow: 1;
          min-width: 0;
          max-width: 100%;

          .o-header__logo {
            .custom-logo {
              max-width: 100px;
              margin: 0 auto;
            }
          }
        }
        .o-header__middle--mobile {
          display: block;
        }
      }
    }
  }
}


/*---------------Mobile-------------------------------*/

.o-header__desktop-nav {
  display: none;
  @include mq($mobMenu) {
    display: block;
  }
}

.o-header__middle--mobile {
  display: block;
  @include mq($mobMenu) {
    display: none;
  }
}

.o-header__mob-btn {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  color: #fff;

  .is-sticky &, .has-bg & {
    color: palette(secondary);
  }
}

.o-header__additional-nav {
  display: flex;
  align-items: center;

  .c-icons-menu__link {
    line-height: 1;
  }


  @include mq(360) {
    min-width: 95px;
  }
}


