h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
  color: palette(secondary, 800);
  letter-spacing: 0.04em;
}

h1 {
  @include font-family(secondary);
  @include font(x2-large, 95);
}

h2 {
  @include font-family(secondary);
  @include font(x-large, 68);
}

h3 {
  @include font(large, 34, 400);
}

h4 {
  @include font(large, 34, 700);
}

h5 {
  @include font(mid, 25, 400);
}

